body{
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.cenArea{
	width: 90%;
	max-width: 600px;
	margin: 50px auto;
}

input{
	font-family: 'Helvetica', 'Arial', sans-serif;
}

input[type=password], input[type=text]{
	border: 2px solid #aaa;
	width: 100%;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	transition: border 0.2s;
	color: #111;
	display: block;
	margin: 10px 0;
}

input[type=password]:focus, input[type=text]:focus{
	border: 2px solid #152a3f;
}

input[type=submit]{
	cursor: pointer;
	border: 2px solid #152a3f;
	background: #152a3f;
	color: #FFF;
	padding: 15px 25px;
	border-radius: 3px;
	font-size: 14px;
	transition: background 0.2s, color 0.2s;
	display: inline-block;
	margin: 8px 0;
}

input[type=submit]:hover{
	background: #FFF;
	color: #152a3f;
}

input[type=file]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label {
	cursor: pointer;
	border: 2px solid #152a3f;
	background: #152a3f;
	color: #FFF;
	padding: 15px 25px;
	border-radius: 3px;
	font-size: 14px;
	transition: background 0.2s, color 0.2s;
	display: inline-block;
	margin: 8px 0;
}

input[type=file]:focus + label,
input[type=file] + label:hover {
    background: #FFF;
	color: #152a3f;
}

input[type=file]:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

table:not(.picker__table){
	border-collapse: collapse;
	width: 100%;
}

table:not(.picker__table) thead tr{
	background: #152a3f;
	color: #F5F5F5;
}

table:not(.picker__table) tbody tr{
	background: #FFF;
	color: #111;
}

table:not(.picker__table) tbody tr:nth-child(even){
	background: #EEE;
	color: #111;
}

table:not(.picker__table) td, table:not(.picker__table) th{
	padding: 5px;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid #111;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.progModal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(51,51,51,0.7);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;
}

.progModal.show{
	visibility: visible;
	opacity: 1;
}

.progModal .win{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 50px;
	border-radius: 5px;
}

.errorMsg{
	display: block;
	background: #EB4444;
	color: #F5F5F5;
	padding: 10px;
	border-radius: 3px;
	font-size: 20px;
}

.card{
	background: #fff;
	margin: 50px 0;
	border-radius: 2px;
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.15);
}

.card .plyr{
	border-radius: 0 0 3px 3px;
}

.card .details{
	padding: 30px;
	padding-bottom: 0;
}

@media screen and (max-width: 465px) {
	.card .details{
		padding: 30px;
		padding-bottom: 0;
	}
}

.card .details.noAudioPlayer{
	padding-bottom: 20px;
}

.card .details h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 35px;
	color: #152a3f;
}

.card .pill{
	padding: 10px;
	background: #EEE;
	color: #111;
	border-radius: 2px;
	margin: 3px;
	display: inline-block;
}

.card .pillBox{
	margin: 0 -3px;
	margin-bottom: 20px;
}

.btn{
	cursor: pointer;
	border: 2px solid #152a3f;
	background: #152a3f;
	color: #FFF;
	padding: 15px 25px;
	border-radius: 3px;
	font-size: 14px;
	transition: all 0.15s ease-in-out;
	display: inline-block;
	margin: 8px 0;
	text-decoration: none;
}

.btn:hover{
	background: #FFF;
	color: #152a3f;
}

.picker__day{
	font-weight: 300;
}

.plyr--audio .plyr__controls{
	border: 0 !important;
	padding: 20px !important;
	color: #152a3f !important;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio [aria-expanded=true].plyr__control{
	background: #152a3f !important;
}

.plyr--full-ui input[type=range]{
	color: #152a3f !important;
}

header:after{
	clear: both;
	display: block;
	content: " ";
}

header .logo{
	display: inline-block;
	float: left;
}

header h1{
	float: right;
	line-height: 100px;
	margin: 0;
	color: #152a3f;
	font-size: 40px;
}

@media screen and (max-width: 558px) {
	header .logo{
		display: block;
		float: none;
	}
	header h1{
		float: left;
	}
}

@media screen and (max-width: 465px) {
	header h1{
		font-size: 32px;
	}
}

a:not(.btn){
	text-decoration: none;
	color: #152a3f;
	padding: 5px;
	border-bottom: 2px solid #152a3f;
	display: inline-block;
}

.dropdown{
	display: inline-block;
	position: relative;
}

.dropdown ul{
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	list-style: none;
	padding: 0;
	z-index: 1;
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
	overflow: hidden;
}

.dropdown.active ul{
	display: block;
}

.dropdown ul a{
	padding: 10px;
	border: 0;
	background: #152a3f;
	color: #FFF;
	width: 200px;
	box-sizing: border-box;
}

.dropdown ul a:hover{
	background: #FFF;
	color: #152a3f;
}